 body {
        margin: 0;
        padding: 0;
        background: #cfcfcf;
        font-family: Arial, sans-serif;
    }
    
    .container {
        width: 300px;
        margin: 60px auto;
        background: #fff;
        padding: 25px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    
    .container h2 {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: bold;
    }
    
    .task-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        outline: none;
        font-size: 14px;
    }
    
    .add-btn {
        width: 100%;
        padding: 10px;
        background: #32c730;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    }
    
    .task-box {
        background: #f4f4f4;
        margin-top: 25px;
        padding: 12px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .buttons button {
        padding: 5px 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 13px;
    }
    
    .edit {
        background: #6e6e6e;
        color: white;
    }
    
    .delete {
        background: red;
        color: white;
    }
    
